{% extends 'MainSiteBundle::layout.html.twig' %}
{% block menu %}
    {{parent()}}
{% endblock %}
{% block body %}
<div class="primary_content_wrap">
    <div class="container_12 clearfix">
        <div class="grid_12">
            <div class="indent">
                <div id="content" class="grid_9 alpha">
                    <div id="post-60" class="post-60 extra type-extra status-publish hentry post">
                        <article class="post-holder single-post">                   
                            <header>
                                <h1> {{ entity.translate(locale).getTitle }}</h1>
                            </header>
                            <div class="post-content">
                                {% autoescape false %}
                                    {{ entity.translate(locale).getContent }}
                                {% endautoescape %}
                            </div>  
                        </article>
                        <div id="disqus_thread"></div>         
                        <script type="text/javascript">            
                            var disqus_shortname = 'demo1qwercomua';    
                            (function() {         
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;  
                                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';   
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); 
                            })();         </script>        
                         <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>      
                        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>         
                    </div>        
                </div>
             {% include "MainSiteBundle:Default:rightblock.html.twig" %}   
            </div>
          </div>
     </div>
</div>        
{% endblock %}